/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
@import 'mixins/mixin'; // Fonts
@import "core/fonts";
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
// @import 'core/navbar';
// @import 'core/footer';
// @import 'core/form';
// @import 'core/grid';
// @import 'core/soc';
// @import 'core/breadcrumb';
// @import 'core/pagination';
// @import 'core/buttons';
@import 'core/video';
// @import 'vendor/slick';
@import 'vendor/modal';
@import 'core/home';
@import 'core/section';
@import 'core/task';
@import 'core/searching';
@import 'core/screenplay';
@import 'core/scenes';
@import 'core/progress';
@import 'core/secrets';
@import 'core/wallpaper';
@import 'core/casting';
@import 'core/audioplayer';
@import 'core/unick';
@import 'core/rezult';
@import 'core/review';
@import 'core/colorCorrection';
@import 'core/tooltips';
@import 'core/animations';

.icon_quest {
    width: 1em;
    height: 1em;
    background: url("../img/question.svg") 0 0 no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.mobile {
    @media (min-width: 768px) {
        display: none;
    }
}

.descktop {
    @media (max-width: 767px) {
        display: none;
    }
}
