.secrets {
    padding: 8.5em 0 0;
    background: url("../img/secrets-bg.png") bottom 4em left -6em no-repeat;
    background-size: 200%;

    @media (min-width: 768px) {
        padding: 1em 0;
        margin-top: -8.4em;
        background: url("../img/secrets-bg.png") top 7.3em center no-repeat;
        background-size: contain;
    }

    &__content {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__left {
        width: 100%;

        &.animated {
            animation: 1s slideUpLg;
            opacity: 1;
        }

        @media (min-width: 768px) {
            flex: none;
            width: 38em;
            margin-right: 2.8em;
        }

        @media (max-width: 767px) {
            text-align: center;
            padding-top: 4.6em;

            img {
                max-width: 26.8em;
            }
        }
    }

    &__right {
        order: -1;

        @media (min-width: 768px) {
            padding-top: 23.3em;
            order: 1;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        font-size: 1.76em;
        line-height: 1.67;
        padding-left: 0;

        @media (min-width: 768px) {
            font-size: 1.125em;
            padding-left: 5.4em;
            margin: -0.4em 0 0;
        }

        @media (max-width: 767px) {
            li {
                margin-bottom: 0.2em;
            }
        }
    }

}
