script(src="js/jquery.js")
script(src="js/audioplayer.min.js")
//- script(src="js/slick.min.js")
script(src="js/modal.js")
script(src="js/wow.min.js")
script(src="js/player.js")
//- script(src="js/viewportChecker.umd.js")
script(src="js/function.min.js?"+version+"")
