@font-face {
    font-family: 'Colus';
    src: local('Colus Regular'), local('Colus-Regular'), url("../fonts/Colusregular.woff2") format('woff2'), url("../fonts/Colusregular.woff") format('woff'), url("../fonts/Colusregular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
