@font-face {
    font-family: 'Gentlemens Script';
    src: url("../fonts/GentlemensScript-Regular.woff2") format('woff2'), url("../fonts/GentlemensScript-Regular.woff") format('woff'), url("../fonts/GentlemensScript-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
